[status]
	submodulessummary = 1
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "color_schemes/solarized"]
	path = color_schemes/solarized
	url = https://github.com/altercation/solarized.git
